$maincolor: rgb(80, 32, 80);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@media only screen and (max-width: 1070px) {
    .stars {
        display: block;
        margin: 30px 0px 10px 0px;
    }
    .topDiv {
        text-align: center;
        margin: 70px 0px;
    }
    .rating{
        display: inline-block;
        justify-content: center;
    }
    .dscr {
        margin-bottom: 30px;
        padding: 20px;
        width: 100%;
        color: $maincolor;
    }
    .rev {
        width: 250px;
        background-color: rgb(247, 242, 247);
    }
    
    body {
        font-size: 15px;
        font-family: "Spartan", sans-serif;
        // display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 1071px) {
    .dscr {
        float: left;
        width: 43%;
        color: $maincolor;
    }
    .rating {
        float: right;
        width: auto;
    }
    .stars {
        display: inline;
    }

    body {
        font-size: 15px;
        font-family: "Spartan", sans-serif;
    }

    main {
        margin: 100px auto;
        width: 85%;
        // max-width: 1440px;
    }

    .topDiv {
        margin-bottom: 50px;
        width: 100%;
        overflow: hidden;

        .rev {
            width: 406px;
            margin-bottom: 50px;
            background-color: rgb(247, 242, 247);
            margin-top: 30px;
            padding: 10px;

            svg {
                margin-right: 5px;
            }
            p {
                display: inline;
                margin-left: 20px;
            }
        }
        .rev2 {
            margin-left: 50px;
        }
        .rev3 {
            margin-left: 105px;
        }
    }
}

.rating {
    color: $maincolor;
    font-weight: bold;
}
.title {
    margin: 20px 0px;
    font-weight: bold;
    width: 100%;
    font-size: 3em;
}
.info {
    padding: 10px;
    padding-left: 0%;
    color: hsl(303, 10%, 53%);
    line-height: 22px;
}
.cont {
    .btmDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        .card {
            position: relative;
            line-height: 20px;
            width: 330px;
            height: 290px;
            overflow: hidden;
            padding: 30px;
            background-color: $maincolor;
            color: hsl(300, 24%, 96%);
            border-radius: 10px;
            margin-right: 20px;
            span {
                display: inline-block;
            }
            .person {
                position: relative;
                img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
                .nameBox {
                    margin-left: 25px;
                    display: inline-block;
                    position: absolute;
                    top: 15px;
                    .name {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }
                .cari {
                    color: hsla(333, 80%, 67%, 0.473);
                }
                margin-bottom: 40px;
            }
        }
        .card2 {
            margin-top: 30px;
        }
        .card3 {
            margin-top: 60px;
        }
    }
}
